.column1, .column2, .column3, .column4 {

border: 20px solid White;
background-color: mediumslateblue;
border-radius: 10px;
}

.row1, .row2, .row3{
    float: left;
}

#container {

margin-left: 25%;

}

.row1:hover {

    animation: shake 1s;
    animation-iteration-count: infinite;

}

@keyframes shake {
 

    0% { transform: translate(10px, 10px);

    }

}

.row2:hover {

    animation: shake 1s;
    animation-iteration-count: infinite;

}

@keyframes shake {
 

    0% { transform: translate(10px, 10px);

    }

}

.row3:hover {

    animation: shake 1s;
    animation-iteration-count: infinite;

}

@keyframes shake {
 

    0% { transform: translate(10px, 10px);

    }

}
